.headerBox {
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 10% 10% 3%;
  background-color: #6a6a6a;
  border: 2px solid rgb(58, 241, 241);
  border-radius: 8px;
  box-shadow: 10px 5px 5px #0f0f0f;
}

/* .headerBox:hover {

} */

.headerText {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 0;
  text-align: center;
}

.bodyParagraph {
  align-items: center;
  margin-top: -0.5%;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #6a6a6a;
  border-radius: 8px;
  box-shadow: 10px 5px 5px #0f0f0f;
  border: 2px solid rgb(58, 241, 241);
}

.bpText {
  padding: 1vw;
  text-align: center;
  font-size: x-large;
}

.bpTextTitle {
  padding: 1vw;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}

.tableCategory {
  margin-top: 1vw;
  margin-left: auto;
  padding-right: 1vw;
  padding-bottom: 5%;
  /* text-align: center; */
  font-size: x-large;
  font-weight: 500;
  justify-content: right;
}

.tableDesc {
  margin-top: 1vw;
  padding-left: 1vw;
  margin-right: auto;
  padding-bottom: 5%;
  /* text-align: center; */
  font-size: x-large;
  font-weight: 300;
  justify-content: left;
}